<html>
<head>
<title>Login</title>
{% include "css_inc.html" %}
</head>
<body>
    <div class="pure-g">
        <div class="pure-u-1-5">
        </div>
        <div class="pure-u-3-5">
            <h1>New/Edit Deck</h1>
            <form method="post" class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" value="{{ deck["name"] }}">
                    </div>

                    <div class="pure-control-group">
                        <label for="student">Student</label>
                        <input type="text" name="student" value="{{ deck["student"] }}">
                    </div>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Save</button>
                        <!--{deleteButton}-->
                    </div>
                </fieldset>
            </form>
            {% if cards %}
            <table class="pure-table pure-table-horizontal" style="width: 100%">
                <thead>
                    <tr>
                        <th>Front</th>
                        <th>Back</th>
                        <th>Box</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in cards %}
                    <tr><td>{{ card["front"] }}</td><td>{{ card["back"] }}</td><td>{{ card["box"] }}</td><td><a href="/cards/{{ card["id"] }}/edit?next=/decks/{{ deck['id'] }}/edit"><i class="fa fa-pencil fa-lg"></i></a></td></tr>
                    {% endfor %}
                    <tr><td colSpan="4" class="center"><a href="/decks/{{ deck['id'] }}/addcard"><i class="fa fa-plus fa-lg"></a></i></td></tr>
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="pure-u-1-5">
        </div>
    </div>
</body>
</html>


