<html>
<head>
<title>Login</title>
{% include "css_inc.html" %}
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1-5">
    </div>
    <div class="pure-u-3-5">
        <table class="pure-table pure-table-horizontal" style="width: 50%">
            <tbody>
                {% for deck in decks %}
                <tr><td>{{deck["name"]}} {{ "({})".format(deck["student"]) if deck["student"] else ""}} </td><td><i class="fa fa-play fa-lg"></i></td><td><a href="/decks/{{deck["id"]}}/edit"><i class="fa fa-pencil fa-lg"></i></a></td></tr>
                {% end %}
                <tr><td colSpan="3" class="center"><a href="/decks/-1/edit"><i class="fa fa-plus fa-lg"></a></i></td></tr>
            </tbody>
        </table>
    </div>
    <div class="pure-u-1-5">
    </div>
</div>
</body>
</html>

